# BASIC LANGUAGE CONSTRUCTS

The syntactic rules of `q` are derived from `k` and do not bear much similarity to standard programming languages such as `C`, `Python`, or `Java`. Indeed, `q` belongs to a different language family.

## Assigning, Equality and Matching

In [1]:
/ assign value with : instead of =
a:1.0
a

1f

In [2]:
/ operation directly on assignment
2+a:1.0

3f

In [3]:
a

1f

In [4]:
/ we can chain multiple assignments
b:a:1.0
b

1f

`q` is case sensitive. We use _camelCase_ in this book. Avoid using `-` or `.` in var name.

In [5]:
/ semicolon (:) denotes the end of a statement
b:1; b

1

In [6]:
/ = checks equality
a1:1;a2:2;a1=a2

0b

In [7]:
/ inequality
a1<>a2

1b

In [8]:
/ compare two lists with the same length
/ element-wise
1 2 3=1 2 4

110b

In [9]:
/ compare a list and an atom
1 2 3=2

010b

In [9]:
1 2 3=1 2
/ 'length error

length: length

In [10]:
/ check if two lists are an exact match (length, value)
1 2 3~1 2 3

1b

In [11]:
1 2 3~1 2

0b

## Arithmetic Operations and Right-to-Left Evaluation
Introduction to `q` Philosophy

In [12]:
/ sum and multiply
10*100+1000
/ not 2000??

11000

Expressions are evaluated right-to-left, and all operators have the **same priority**.

In [13]:
v:1 2 3; neg[v]+3

2 1 0

In [14]:
neg v+3

-4 -5 -6

In [15]:
(10*100)+1000

2000

In [16]:
2 xexp 2
2 xexp 2 + 1

4f

8f

In [17]:
/ divide with '%' NOT '/'
5%2

2.5

# Basic Operators
verbs


### ? ([Roll, Deal, Permute](https://code.kx.com/q/ref/deal/))
1. generate random numbers (integer/float/string/symbol)
  - add minus to get distinct resultant elements (not with float)
2. select element with boolean list

In [18]:
/ ? generates a vector of uniform random numbers
10?5

4 0 2 1 2 1 2 3 2 4

10 *integers* from 0 to 4

`q` is derived from C, indexing starts at 0 (same as Python)

In [19]:
/ Replace the integer on the right with a float to generate *float*
10?5.0
/ where numbers are generated from the range [0, 5.0]

2.892601 0.4194429 0.9799536 1.87819 3.068726 2.647404 3.458049 1.148308 3.45..

In [20]:
/ generate a random array
10?"abcdefg"      / string
10?`a`b`c`d`e`f`g / symbols

"bcabgbcbaa"

`f`g`b`c`d`e`e`c`e`f

In [21]:
/ add minus sign to first argument to generate unique results
-5?10

4 3 8 2 9

In [21]:
/ length error
-10?5

length: length

In [22]:
-4?`a`b`c`d`e`f`g

`a`g`e`d

In [22]:
/ not work for float
/ type error
-2?2.0

type: type

In [23]:
/ check out the random seed
\S

-314159i

In [24]:
/ ? also can search the location of an element
arr:1 2 3 4 5 6;
arr?3

2

In [25]:
/ lazy
arr2:1 2 3 3 3 3;
arr2?3

2

In [26]:
/ not found returns 1+count[arr]
arr?7

6

In [27]:
/ ? also replace elements of one array by elements of another array according to a boolean list
/ inp1 if true, inp2 if false
inp1:1  2  3  4  5;
inp2:10 20 30 40 50;
booleanSwitch:01010b;
?[booleanSwitch;inp1;inp2]

10 2 30 4 50

In [28]:
/ generate bool list with expression
inp1:1 30 2 6 5;
inp2:10 20 30 40 50;
?[ inp1 > inp2 ;inp1;inp2]

10 30 30 40 50

In [29]:
/ more optimal to use | (or) function to choose larger value
inp1|inp2

10 30 30 40 50

**`xbar`** rounds each element of the vector on the right down to the nearest multiple of the number on the left.

In [30]:
5 xbar 2 -1 3.5 10 13 21

0 -5 0 10 10 20f

In [31]:
/ bucket a time vector into 5-second buckets
0D00:00:05 xbar 2099D01:00:05.1 2099D01:00:06.5 2099D01:00:20.1

2099D01:00:05.000000000 2099D01:00:05.000000000 2099D01:00:20.000000000

`^` fills the null elements of an array by a specified value.

In [32]:
0^1 2 3 0N 5 6 0N 8

1 2 3 0 5 6 0 8

In [33]:
/ promote value for each type
10^1.0 2.0 3.0 0n 5.0 6.0 0n 8.0

1 2 3 10 5 6 10 8f

In [34]:
/ same length vector on the left
/ replace null by corresponding value
(10 20 30 40 50 60 70 80)^1.0 2.0 3.0 0n 5.0 6.0 0n 8.0

1 2 3 40 5 6 70 8f

`#` take/reshape

In [35]:
/ take first 3 elements
3#1 2 3 4 5 6

1 2 3

In [36]:
/ take last 3 elements
-3#1 2 3 4 5 6

4 5 6

In [37]:
/ repeat to fill the length
13#1 2 3 4 5 6

1 2 3 4 5 6 1 2 3 4 5 6 1

In [38]:
/ reshape
3 3#1 2 3 4 5 6

1 2 3
4 5 6
1 2 3

`_` drop/cut

In [39]:
/ drop first 3 elements
3_0 1 2 3 4 5 6 7 8 9

3 4 5 6 7 8 9

In [40]:
/ drop last 3 elements
-3_0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6

In [41]:
/ drop element at the position 3 of the list
0 1 2 3 4 5 6 7 8 9_3

0 1 2 4 5 6 7 8 9

In [42]:
/ combine _ and ? together
/ drop elements before 3
array:0 1 2 3 4 5 6 7 8 9;
element:3;
(array?element)_array

3 4 5 6 7 8 9

In [43]:
/ only remove 3
array _ (array?element)

0 1 2 4 5 6 7 8 9

In [44]:
/ do nothing if out of index
/ because ? returns index+1
array _ (array?999)

0 1 2 3 4 5 6 7 8 9

In [45]:
/ partition
/ left indicates start of each partition location
0 3 6_ 1 2 3 4 5 6 7 8 9

1 2 3
4 5 6
7 8 9

In [46]:
1 3 6_ 1 2 3 4 5 6 7 8 9

2 3
4 5 6
7 8 9

In [47]:
/ always return a list (empty or 1 element)
2 3 6 9_ 1 2 3 4 5 6 7 8 9

,3
4 5 6
7 8 9
`long$()

`|` max/reverse

In [48]:
/ returns max(left,right) element-by-element
4|0 1 2 3 4 5 6 7 8 9

4 4 4 4 4 5 6 7 8 9

In [49]:
/ pairwise compare when left is same length list
0 10 2 30 4 50 6 70 8 90|0 1 2 3 4 5 6 7 8 9
/ recall ?[ inp1 > inp2 ;inp1;inp2]

0 10 2 30 4 50 6 70 8 90

In [50]:
/ act as 'or' when given boolean
1100b | 1010b

1110b

In [51]:
/ reverse
(|) 0 1 2 3 4 5 6 7 8 9

9 8 7 6 5 4 3 2 1 0

In [52]:
/ reverse string
(|) "hello"

"olleh"

In [53]:
reverse "hello"

"olleh"

`&` min

In [54]:
/ min
4&0 1 2 3 4 5 6 7 8 9
0 10 -2 30 -4 50 -6 70 -8 90&0 1 2 3 4 5 6 7 8 9
/ 'and' for bool
1100b & 1010b

0 1 2 3 4 4 4 4 4 4

0 1 -2 3 -4 5 -6 7 -8 9

1000b

`where`

In [55]:
/ 'where' returns position of truthy (non-zero)
where 0101b

1 3

In [56]:
/ when applied to int vector (til 4), returns according # occurance of the symbol
/ left here is a dictionary
where `a`b`c`d!til 4

`b`c`c`d`d`d

In [57]:
/ ',' join lists of any type
(0 1 2 3 4), (5 6 7 8 9)
(0 1 2 3 4), `a, "hello"

0 1 2 3 4 5 6 7 8 9

0
1
2
3
4
`a
"h"
"e"
"l"
"l"
"o"

In [61]:
/ print with '0N!'
0N!3

3

3

In [62]:
4+0N!3 +0N!2+0N!1

1
3
6

10

In [63]:
/ separator when surrounded by brackets
(1;2;3;4)
/ nested lists
(1;2;(1;2);4)

1 2 3 4

1
2
1 2
4