In [1]:
1+1

2

In [2]:
show "Hello world!"

"Hello world!"

In [3]:
/ launch the script with system command \l
\l helloworld.q

"Hello world!"

3 ways to exit `q` session in Terminal:
```bash
\\
exit 0
Ctrl+d
```

## ATOMS AND LISTS

Atom is the smallest irreducible element of the language. An atom may be an integer, boolean or floating point variable, a function, or a date. We distinguish atoms by their types. ([data type docs](https://code.kx.com/q4m3/2_Basic_Data_Types_Atoms/))

In [43]:
/ type of the number 2
type 2
/ A negative type number indicates atoms
/ a positive type number (or zero) is reserved for vectors
/ 7: long type (j)
/ h: -7 here is a short integer
/ type function always returns a short integer

-7h

In [8]:
/ define number 2 as a short integer by append 'h'
/ only a quarter of memory space
type 2h
/ âˆ’5 stands for the short integer

-5h

In [9]:
/ float
type 2f
/ 9: float type

-9h

In [10]:
/ or
type 2.0

-9h

In [11]:
/ list of atoms
type (2;3)
/ one object

7h

In [15]:
/ one element list?
type (2)
/ still negtive: atom

-7h

In [17]:
type enlist 2

7h

In [20]:
/ or
type 2,()

7h

In [21]:
/ list can contain mixed types
type (2; 2h; 3; 2.0)
/ type number is 0h

0h

In [27]:
/ nested list
type (2; 1; (1; 2; 3))

0h

In [28]:
/ empty list
type ()

0h

In [29]:
/ type casting
type `short$()

5h

In [30]:
/ type of each element of list
type each (2; 2h; 3; 2.0)

-7 -5 -7 -9h

In [31]:
/ check whether a value is null
null 3h
/ boolean type: 0b (false) or 1b (true)

0b

In [32]:
/ null short
null 0Nh

1b

In [41]:
/ null long
type 0Nj
type 0N

-7h

-7h

In [42]:
/ null float
type 0Nf
type 0n

-9h

-9h

In [45]:
/ basic arithmetic operations
0Nj+2
0Nj+2.0
/ still null
/ but type promotion

0N

0n

In [46]:
/ null has the smallest value
0Nj < -1000

1b

In [50]:
0Nj = 0Nh

1b

In [61]:
/ infinity 0W?
/ only well-behave for float
0W=(0W-3j) / long: 0Wj, 0W
0w=(0w-3f) / float: 0Wf, 0w

0b

1b

### Casting Types
>```q
"newType"$variable
```

`newType` is a character representation

or 
>```q
`newType$variable
```

`newType` is a name representation

In [62]:
type 1

-7h

In [63]:
/ explicit type conversion
type "f"$1

-9h

In [64]:
/ or
type `float$1

-9h

In [77]:
/ temporal variables
now:2099.01.01D01:02:03.456789000; / timestamp (p, 12)
type now

-12h

In [75]:
"j"$now

3124227723456789000

In [68]:
/ time
"t"$now

01:02:03.456

In [69]:
/ date
"d"$now

2099.01.01

In [70]:
/ month
"m"$now

2099.01m

In [71]:
/ minute
"u"$now

01:02

In [72]:
/ second
"v"$now

01:02:03

In [73]:
/ timespan
"n"$now

0D01:02:03.456789000

Let's convert strings!

In [1]:
"f"$"1.1"

49 46 49f

In [2]:
/ surprise! element-by-element conversion
/ 49 is an ASCII representation of the character "1"
/ 46 for "."

In [3]:
/ Use upper case to cast a string into a single float number
"F"$"1.1"

1.1

In [6]:
/ long integer: err
"J"$"1.1"

0N

In [10]:
"D"$"2017.01.01"

2017.01.01

In [12]:
/ Oops
"d"$"2017.01.01"

2000.02.20 2000.02.18 2000.02.19 2000.02.25 2000.02.16 2000.02.18 2000.02.19 ..

In [13]:
/ not error?!
/ numeric type behind "d" is an integer
/ lower case: element-by-element
"d"$"2"
"d"$"."

2000.02.20

2000.02.16

In [14]:
/ Conversion to string
string 123.45
string 2020.05.20

"123.45"

"2020.05.20"

In [15]:
/ Conversion to symbol
`$"123"

`123

We can __only__ convert a string into a symbol.

Symbols play a special role in kdb+ in large tables, and we will cover them in the subsequent sections.

For now, they can be described as _internalised strings_ or a string pool which efficiently stores strings internally for _fast lookups_.